<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script>

        function getNumberOfQuestions(videoId) {
          $.ajax({
            url: '/api/video/'+videoId+'/question/get',
            type: "GET",
            dataType: "json",
            success: function (data) {
              questionCount = Object.keys(data['questions']).length
              $("#nquestions"+videoId).html(questionCount)
            },
          })
        }

        function addNewVideo(url, title, description){
          let requestData={'url': url, 'title': title}
          $.ajax({
              url: '/api/video/add',
              type: "POST",
              dataType: "json",
              contentType: 'application/json',
              data: JSON.stringify(requestData),
              success: function(data){
                  updateVideoTable()
              }
          });
        }

        function goToVideoPage(id){
          console.log(id)
          window.location.href='/video_page/'+id
        }

        function updateVideoTable() {
          $.ajax({
              url: '/api/video/get',
              type: "GET",
              dataType: "json",
              success: function (data) {
                    console.log(data);
                    $('#videosTable > tbody:last-child').empty()
                    data["videos"].forEach(v => {
                        console.log(v["url"]+" "+v["description"])
                        $('#videosTable > tbody:last-child').append('<tr> <td>' + v["video_id"] + '</td><td>' + v["url"]+'</td><td>' + v["title"] + '</td><td id="nquestions'+v["video_id"]+'">xxx</td>' + '<td><button class="ui button" id="buttonGo" onClick=javascript:goToVideoPage('+v["video_id"]+');' +'>Go</button></td>'+'</tr>');
                        getNumberOfQuestions(v["video_id"])
                  });
              }
          });
        }

        $(document).ready(function(){
          updateVideoTable()
          $("#buttonlogout").click(
              function(){
                  window.location.href = '/logout'
              }
          )
          $("#buttonAddVideo").click(
              function(){                  
                  newVideoUrl = $("#newVideoURL").val()
                  newVideoTitle = $("#newVideoTitle").val()
                  if (newVideoUrl && newVideoTitle) {
                    //checkUrl(newVideoUrl)
                    addNewVideo(newVideoUrl, newVideoTitle)
                  }
                  document.getElementById("newVideoURL").value="";
                  document.getElementById("newVideoTitle").value="";
              }
          )
          $("#buttonUserStats").click(
              function(){
                  window.location.href = '/admin/user_stats'
              }
          )

          $("#buttonLogs").click(
              function(){
                  window.location.href = '/admin/logs'
              }
          )
        });

    </script>

    <style>
      .rightMain{
        float:right;
        margin-bottom: 5px;
      }
    </style>
  </head>

  <div class="rightMain">

    {% if isAdmin %}
    
      <button class="ui button" id="buttonUserStats">
        User Statistics
      </button>
      <button class="ui button" id="buttonLogs">
        Logs
      </button>

    {% endif %}

    <button class="ui button" id="buttonlogout">
        Logout
      </button>
    </div>

  <body>    
    <h3>List of videos</h3>

    <table class="ui celled table selectable" id="videosTable" >
      <thead>
        <tr>
          <th>ID</th>  <th>URL</th>  <th>Title</th> <th>Questions</th> <th>Video Page</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>


    <h3>Add a new Video</h3>
    <div class="ui input">
      <input type="text" placeholder="Video URL" id="newVideoURL">
    </div>
    <div class="ui input">
      <input type="text" placeholder="Title" id="newVideoTitle">
    </div>
    <button class="ui button" id="buttonAddVideo">
      Add new Video
    </button>
  </body>
</html>