<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script>

        function getNumberOfQuestions(videoId) {
          $.ajax({
            url: '/api/videos/'+videoId+'/question',
            type: "GET",
            dataType: "json",
            success: function (data) {
              console.log(data)
              $("#nquestions"+videoId).html(data['nr_questions'])
              console.log("update the number of views on the table for"+videoId)
            },
          })
        }

        function addNewVideo(url, title, description){
          let requestData={'url': url, 'title': title, "description": description }
          $.ajax({
              url: '/api/videos/',
              type: "POST",
              dataType: "json",
              contentType: 'application/json',
              data: JSON.stringify(requestData),
              success: function(data){
                  console.log("resppnse for video creation"+data)
                  console.log(data)
                  updateVideoTable()
              }
          });
        }

        function goToVideoPage(id){
          console.log(id)
        }

        function updateVideoTable() {
          $.ajax({
              url: '/api/videos/',
              type: "GET",
              dataType: "json",
              success: function (data) {
                    console.log(data);
                    $('#videosTable > tbody:last-child').empty()
                    data["videos"].forEach(v => {
                        console.log(v["url"]+" "+v["description"])
                        $('#videosTable > tbody:last-child').append('<tr> <td>' + v["video_id"] + '</td><td>' + v["url"]+'</td><td>' + v["title"] + '</td><td>' + v["description"] + '</td><td id="nquestions'+v["video_id"]+'">xxx</td>' + '<td><button class="ui button" id="buttonGo" onClick=javascript:goToVideoPage('+v["video_id"]+');' +'>Go</button></td>'+'</tr>');
                        getNumberOfQuestions(v["video_id"])
                  });
              }
          });
        }

        $(document).ready(function(){
          updateVideoTable()
          $("#buttonlogout").click(
              function(){
                  window.location.href = '/logout'
              }
          )
          $("#buttonAddVideo").click(
              function(){                  
                  newVideoUrl = $("#newVideoURL").val()
                  newVideoTitle = $("#newVideoTitle").val()
                  newVideoDesc = $("#newVideoDescription").val()
                  if (newVideoUrl && newVideoTitle && newVideoDesc) {
                    //checkUrl(newVideoUrl)
                    addNewVideo(newVideoUrl, newVideoTitle, newVideoDesc)
                  }
              }
          )
        });

    </script>

</head>

<div style="position: absolute; left:93%; top:1%;">
  <button class="ui button" id="buttonlogout">
      Logout
    </button>
</div>

<body>
  <h3>List of videos</h3>
  <table class="ui celled table selectable" id="videosTable" >
    <thead>
      <tr>
        <th>ID</th>  <th>URL</th>  <th>Title</th>   <th>Description</th> <th>Questions</th> <th>Video Page</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <button class="ui button" id="buttonUpdateVideotable">
    Update List
  </button>

  <h3>Add a new Video</h3>
    <div class="ui input">
      <input type="text" placeholder="Video URL" id="newVideoURL" required>
    </div>
    <div class="ui input">
      <input type="text" placeholder="Title" id="newVideoTitle" required>
    </div>
    <div class="ui input">
        <input type="text" placeholder="Video Description" id="newVideoDescription" required>
      </div>
    <button class="ui button" id="buttonAddVideo">
      Add new Video
    </button>

  <!-- <div style="position: absolute; left:90%; top:10%;">
    <button class="ui button" id="buttonlogout">
        Logout
      </button>
</div> -->