<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="http://vjs.zencdn.net/7.8.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.min.js"></script>

    <script>

        function getIDfromURL() {
            var url = window.location.href
            var urlVariables = url.split('/')
            //console.log(urlVariables)
            var id = urlVariables[urlVariables.length-1]
            //console.log(id)
            return id
        }

        function getVideo() {
          //Receive the video ID
          var video_id = getIDfromURL()
          var url
          $.ajax({
            url: '/api/getVideo/'+video_id,
            type: "GET",
            dataType: "json",
            success: function (data) {
              document.getElementById("videoTitle").innerHTML = data["title"];

              var vPlayer = videojs('videoPlayer')
              vPlayer.src({ "type": "video/youtube", "src": data["url"]})
              vPlayer.play()
            },
          })
        }

        $(document).ready(function(){
          getVideo()
        });
        
    </script>

    <style>
      .center {
        margin: auto;
        width: 97%;
        padding: 10px;
      }
    </style>

  </head>
  <body>
      <div class="center">
        <h1 id="videoTitle"></h1>
      </div>

      <div class="center">
        <video  id="videoPlayer" controls 
          class="video-js vjs-default-skin"
          width="640"
          data-setup='{ "autoplay": true, "preload": "auto", "techOrder": ["youtube"], "sources": [{ "type": "video/youtube" }'>
        </video>
      </div>

      <div class="center">
        <button class="ui icon button" id="buttonVideoPause">
          <i class="pause icon"></i>
        </button>

        <button class="ui icon button" id="buttonVideoResume">
          <i class="play icon"></i>
        </button>
      </div>
  </body>