<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <script src="http://vjs.zencdn.net/7.8.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-youtube/2.6.1/Youtube.min.js"></script>

    <script>
        var a_qid, a_vid;

        //Obtain the id of the video from the url
        function getIDfromURL() {
            var url = window.location.href
            var urlVariables = url.split('/')
            var id = urlVariables[urlVariables.length-1]
            return id
        }

        //Convert the timestamp in the videos to format mm:ss
        function convertSecondsToMinutes(time, q_id) {
          var minutes = Math.floor(time / 60);
          var seconds = time - minutes * 60;
          seconds = Math.round(seconds + Number.EPSILON)

          if ((seconds.toString()+'').length == 1) {
            nsec = "0" + seconds.toString();
          }
          else {
            nsec = seconds.toString()
          }

          newTime = minutes.toString()+':'+nsec
          $("#videoTime"+q_id).html(newTime)
        }

        //Check if the user only input " " in the text forms
        function validateTextInput(x) {
            if (x === null || x.trim() === "") {
                return false;
            } else {
                return true;
            }
        }

        //Get the information of the user that created a question and populates the table of the question chosen
        function updateQuestionInfo(q_data) {
          user_id = q_data["user_id"]
          $.ajax({
            url: '/api/user/get/?id='+user_id,
            type: "GET",
            dataType: "json",
            success: function (data) {
              $('#questionInfo > tbody:last-child').empty()
              $('#questionInfo > tbody:last-child').append('<tr><td>'+q_data["q_text"]+'</td><td id="videoTime'+q_data["q_id"]+'">xxx</td><td>'+q_data["user_id"]+'</td><td>' + data["name"]+ '</td></tr>')
              convertSecondsToMinutes(q_data["timestamp"], q_data["q_id"])
              $("#questionBody").hide();
              $("#buttonSubmitQuestion").hide();
              $("#buttonNewQuestion").show();
              $("#questionInfo").show();
              $("#answersHeader").show();
              $("#answersTable").show();
              $("#buttonNewAnswer").show();
              $("#answerBody").hide();
              $("#buttonSubmitAnswer").hide();

              checkAnswer(q_data["q_id"])

              a_qid = q_data["q_id"]
              a_vid = q_data["video_id"]

            },
          })
        }

        //Get the information of the question chosen
        function checkQuestion(q_id) {
          $.ajax({
            url: '/api/question/'+q_id+'/get',
            type: "GET",
            dataType: "json",
            success: function (data) {
              q_data = updateQuestionInfo(data)
            },
          })
        }

        //Get the information from the video with a specific id
        function getVideo(vPlayer) {
          //Receive the video ID
          var video_id = getIDfromURL()
          var url
          $.ajax({
            url: '/api/video/'+video_id+'/get',
            type: "GET",
            dataType: "json",
            success: function (data) {
              document.getElementById("videoTitle").innerHTML = data["title"];
              vPlayer.src({ "type": "video/youtube", "src": data["url"]})
              vPlayer.play()
            },
          })
        }

        //Adds a new question to the system 
        function addNewQuestion(questionBody, timestamp) {
          video_id = getIDfromURL()
          let requestData = {'text': questionBody, 'video_id': video_id, 'timestamp': timestamp}
          $.ajax({
              url: '/api/question/add',
              type: "POST",
              dataType: "json",
              contentType: 'application/json',
              data: JSON.stringify(requestData),
              success: function(data){
                updateQuestionTable()
              }
          });
        }

        //Get the timestamp and question of all questions for a video
        function updateQuestionTable() {
          video_id = getIDfromURL()
          $.ajax({
              url: '/api/video/'+video_id+'/question/get',
              type: "GET",
              dataType: "json",
              success: function (data) {
                    $('#questionsTable > tbody:last-child').empty()
                    data["questions"].forEach(q => {
                        $('#questionsTable > tbody:last-child').append('<tr><td id="videoTime'+q["q_id"]+'">xxx</td><td>' + q["q_text"]+'</td><td><button class="ui button" id="buttonCheckQuestion" onClick=javascript:checkQuestion('+q["q_id"]+');>Open</button></td></tr>');
                        convertSecondsToMinutes(q["timestamp"], q["q_id"])
                  });
              }
          });
        }

        //Adds a new answer to the system 
        function addNewAnswer(q_id, answerBody, video_id) {
          let requestData = {'a_text': answerBody, 'video_id': video_id, 'q_id': q_id}
          $.ajax({
              url: '/api/answer/add',
              type: "POST",
              dataType: "json",
              contentType: 'application/json',
              data: JSON.stringify(requestData),
              success: function(data){
                checkAnswer(q_id)
              }
          });
        }

        //Get the information of all the answers for a specific question chosen
        function checkAnswer(q_id) {
          $.ajax({
            url: '/api/answer/'+ q_id + '/get',
            type: "GET",
            dataType: "json",
            success: function (data) {
              console.log(data)
              $('#answersTable > tbody:last-child').empty()
                    data["answers"].forEach(a => {
                        $('#answersTable > tbody:last-child').append('<tr><td>'+ a["user_id"] +'</td><td id="answerUserName' + a["a_id"]+'">xxx</td><td>' + a["a_text"] +'</td></tr>');
                    updateAnswerUserName(a["a_id"], a["user_id"])
              });
            }
          });
        }

        //Get the information of the user that created an answer
        function updateAnswerUserName(a_id, user_id) {
          $.ajax({
            url: '/api/user/get/?id='+user_id,
            type: "GET",
            dataType: "json",
            success: function (data) {
              $("#answerUserName"+a_id).html(data["name"])
            }
          });
        }

        //Increase the views
        function increaseViews() {
          video_id = getIDfromURL()
          $.ajax({
            url: '/api/video/view/'+video_id+'/add',
            type: "PUT",
            dataType: "json",
            success: function (data) {
              $("#views").html(data["views"])
              console.log(data["views"])
            },
          })
        }

        $(document).ready(function(){
          var vPlayer = videojs('videoPlayer')
          var pauseTime

          //Get the data for the video
          getVideo(vPlayer)
          updateQuestionTable()
          increaseViews()
          
          $("#buttonVideoResume").hide();
          $("#questionBody").hide();
          $("#buttonSubmitQuestion").hide();
          $("#questionInfo").hide();
          $("#answersTable").hide();
          $("#buttonNewAnswer").hide();
          $("#answersHeader").hide();
          $("#answerBody").hide();
          $("#buttonSubmitAnswer").hide();
  
          $("#buttonVideoPause").click(function(){
            vPlayer.pause()
            pauseTime = vPlayer.currentTime()
            $("#buttonVideoPause").hide();
            $("#buttonVideoResume").show();
          })

          $("#buttonVideoResume").click(function(){
            vPlayer.currentTime(pauseTime)
            vPlayer.play()
            $("#buttonVideoResume").hide();
            $("#buttonVideoPause").show();

            $("#questionBody").hide();
            $("#buttonSubmitQuestion").hide();
            $("#buttonNewQuestion").show();

            document.getElementById("questionBody").value="";
          })

          $("#buttonNewQuestion").click(function(){
            $("#questionBody").show();
            $("#buttonSubmitQuestion").show();
            $("#buttonNewQuestion").hide();
            $("#buttonVideoPause").hide();
            $("#buttonVideoResume").show();
            $("#questionInfo").hide();
            $("#answersHeader").hide();
            $("#answersTable").hide();
            $("#answerBody").hide();
            $("#buttonSubmitAnswer").hide();
            $("#buttonNewAnswer").hide();
            vPlayer.pause()
            pauseTime = vPlayer.currentTime()
          })

          $("#buttonSubmitQuestion").click(function(){
            $("#questionBody").hide();
            $("#buttonSubmitQuestion").hide();
            $("#buttonNewQuestion").show();
            questionBody = $("#questionBody").val()
            
            if (validateTextInput(questionBody)) {
              addNewQuestion(questionBody, pauseTime)
            }
            
            vPlayer.play()
            $("#buttonVideoResume").hide();
            $("#questionBody").hide();
            $("#buttonVideoPause").show();
            $("#questionInfo").hide();
            document.getElementById("questionBody").value="";           
          })

          $("#buttonNewAnswer").click(function(){
            $("#buttonNewAnswer").hide();
            $("#answerBody").show();
            $("#buttonSubmitAnswer").show();
          })
          
          $("#buttonSubmitAnswer").click(function(){
              $("#buttonNewAnswer").show();
              $("#answerBody").hide();
              $("#buttonSubmitAnswer").hide();

              answerBody = $("#answerBody").val()

              if (validateTextInput(answerBody)) {
                console.log(a_qid)
                addNewAnswer(a_qid, answerBody, a_vid)
              }
              document.getElementById("answerBody").value="";
              
            })
            $("#buttonGoBack").click(
              function(){
                  window.location.href = '/'
              }
          );

        });
        
    </script>

    <style>
      .centerVideo {
        margin: auto;
        width: 97%;
        padding: 10px;
      }

      .centerElements {
        margin: auto;
        width: 98.5%;
        padding: 10px;
      }

      .centerTable{
        width: 90%;
        padding: 10px;
      }

      .rightMain{
        float:right;
        margin-top: 1%;
        margin-right: 1%;
      }
    </style>

  </head>

  <div class="rightMain">
    <button class="ui button" id="buttonGoBack">
      List of Videos
    </button>
  </div>

  <body>
      <div class="centerElements">
        <h1 id="videoTitle"></h1>
      </div>

      <div class="ui grid">
        <div class="eight wide column">
          <div class="centerVideo">
            <video  id="videoPlayer" controls 
            class="video-js vjs-default-skin"
            width="640"
            data-setup='{ "autoplay": true, "preload": "auto", "techOrder": ["youtube"], "sources": [{ "type": "video/youtube" }'>
            </video>
          </div>
          <div class="centerVideo">
            
            <button class="ui icon button" id="buttonVideoPause">
              <i class="pause icon"></i>
            </button>
    
            <button class="ui icon button" id="buttonVideoResume">
              <i class="play icon"></i>
            </button>

            <button class="ui button" id="buttonNewQuestion">
              New Question
            </button>

            <div class="ui label" >
              <i class="eye icon"></i>Views: <i id="views">0</i>
            </div>
          </div>
          <div class="ui grid">
            <div class="twelve wide column">
              <div class="centerVideo">
                <div class="ui fluid input focus">
                  <input type="text" placeholder="New Question" id="questionBody">
                    <div style="margin:1%"><button class="ui button" id="buttonSubmitQuestion">
                      Submit
                    </button></div>
                </div>
              </div>
              <div class="centerVideo">
                <table class="ui celled table selectable" id="questionInfo">
                  <thead>
                    <tr>
                      <th>Question</th>  <th>Time</th> <th>User ID</th> <th>User Name</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
            </div>
            <div class="centerVideo">
              <button class="ui button" id="buttonNewAnswer">
                New Answer
              </button>
            </div>
            <div class="centerVideo">
              <div class="ui fluid input focus">
                <input type="text" placeholder="New Answer" id="answerBody">
                  <div style="margin:1%"><button class="ui button" id="buttonSubmitAnswer">
                    Submit
                  </button></div>
              </div>
            </div>
            </div>
          </div>
          

        </div>
        
        <div class="eight wide column">
          <div class="centerTable">
            <h3> List of Questions</h3>
            <div style="height: 325px; overflow: auto">
              <table class="ui celled table selectable" id="questionsTable">
                <thead>
                  <tr>
                    <th>Time</th>  <th>Question</th> <th>Info</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
          <div class="twelve wide column"></div>
            <div class="centerTable">
              <h3 id="answersHeader"> Answers</h3>
              <div style="height: 325px; overflow: auto">
                <table class="ui celled table selectable" id="answersTable">
                  <thead>
                    <tr>
                      <th>User ID</th>  <th>User Name</th> <th>Answer</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
        
  </body>