<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <script>
        $(document).ready(function(){

          $("#buttonUserLogin").click(
            function(){
              window.location.href = '/auth'
            }
          )
        });


    </script>

    <style>

      .center {
        text-align: center;
      }

      h1 {
        font-weight: bold;
        font-size: 80px;
}

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
      }

    </style>

</head>
<body>
  <h1 class ="center">Video Q&A Application</h1>

  <div class="img"><img src={{url_for('static', filename='page_logo.png')}} /></div>
  
  <div class="center">
    <button class="ui button" id="buttonUserLogin">
      Log in
    </button>
  </div>