<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.css">
    <script  src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.js">  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-xmlrpc/0.4.3/jquery.xmlrpc.js"> </script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <script>
        $(document).ready(function(){

          $("#buttonUserLogin").click(
            function(){
              window.location.href = '/auth'
            }
          )
        });


    </script>

</head>
<body>
  <h1>Video Q&A Application</h1>

  <button class="ui button" id="buttonUserLogin">
    Log in
  </button>